@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  width: 100dvw;
  height: 100dvh;
  overflow-x: hidden;
  overscroll-behavior: none;
  scroll-behavior: smooth;
}

.grid-templeate {
  display: grid;
  grid-template-columns: 60% 40%;
}

.item-selected-border {
  border: 2px solid hsl(14, 86%, 42%);
}

.scrollbar-custom {
  overflow-y: scroll; /* Ensure the scrollbar is visible for demonstration */
}

.scrollbar-custom::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #f0f0f0;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: #8d8c8c;
}

@media screen and (max-width: 550px) {
  .grid-templeate {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }
}
